* text=auto

*.py text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.json text eol=lf
*.csv text eol=lf
*.sql text eol=lf

.gitignore text eol=lf
.gitattributes text eol=lf

*.xlsx binary
*.xls binary
*.pdf binary
*.db binary